#Général
*.DS_Store
Thumbs.db
*.log
.env
env/
visuals/

#Backend
backend/__pycache__/  # Cache Python
backend/__pycache__/ 
backend/app/__pycache__/ 
backend/app/services/__pycache__/ 
backend/app/routers/__pycache__/ 
backend/app/models/__pycache__/ 
backend/env/          # Environnement virtuel Python
backend/.pyc         # Fichiers Python compilés
backend/.pyo         # Fichiers Python optimisés
backend/.pyd         # Fichiers Python liés aux bibliothèques
backend/dist/         # Dossier de distribution (si créé)
backend/build/        # Dossier de build (si créé)

#Frontend
frontend/node_modules/  # Dépendances Node.js
frontend/build/         # Fichiers de build
frontend/coverage/      # Dossier de couverture de tests
frontend/.env           # Fichiers d'environnement (sensibles)
frontend/.env.*         # Tous les fichiers .env spécifiques
frontend/npm-debug.log* # Logs npm
frontend/yarn-debug.log* # Logs Yarn
frontend/yarn-error.log* # Erreurs Yarn